<div class="row-mt-2">
    <div class="col-md-6">
        <h3 style="margin-top: 25px;">Search Users</h3>
        <input style="width: 500px; border-width: medium; margin-top: 10px;" type="text" class="border rounded w-full py-2 px-3" id="users" name="users" [(ngModel)]="user" placeholder="Search users">
        <button style="margin-left: 30px;" (click)="searchUsers()" class="btn btn-primary text-white font-bold py-2 px-4 rounded">Search</button>
        <div *ngIf="users">
            <ul>
                <li *ngFor="let user of users">
                    <a style="font-size: 18px;" href="{{ user.html_url }}" target="_blank">{{ user.login }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
