<div style="display: flex; align-items: center;">
    <h2 style="margin-right: 25px;">Kölcsönzések</h2>
    <button class="btn btn-sm btn-outline-success" style="width: 50px;" (click)="create()">Új</button>
  </div>
<hr>
<table class="table">
  <thead>
    <tr>
      <th>Kölcsönző</th>
      <th>Jármű</th>
      <th>Rendszám</th>
      <th>Km állás</th>
      <th>Kölcsönzés dátuma</th>
      <th>Műveletek</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rental of rentals">
      <td>{{ rental.customers.lname }} {{ rental.customers.fname }}</td>
      <td>{{ rental.vehicles.brand + ' ' + rental.vehicles.type }}</td>
      <td>{{ rental.vehicles.regNum }}</td>
      <td>{{ rental.vehicles.mileage }} km</td>
      <td>{{ rental.rentalDate | date: 'yyyy.MM.dd.'}}</td>
      <td>
        <button class="btn btn-sm" (click)="edit(rental)">✏️</button>
        <button class="btn btn-sm" (click)="delete(rental)" style="margin-left: 10px;">🗑</button>
      </td>
    </tr>
  </tbody>
</table>