<div class="row-mt-2">
  <div class="col-md-6">
      <div *ngFor="let joke of jokes">
          <span><b>By: {{joke.username}}</b></span>
              <div style="display: flex;">
                  <button (click)="like(joke)" class="btn btn-outline-success" style="margin-right: 10px;"> 😂 {{ joke.likes }}</button>
                  <button (click)="dislike(joke)" class="btn btn-outline-danger" style="margin-right: 20px;"> 😕 {{ joke.dislikes }}</button>
                  <p *ngIf="joke.likes >= joke.dislikes + 10"><span style="background-color: blue; color: white; border-radius: 5px; padding: 5px; font-size: 12px; margin-right: 20px;"> 🤩 Community approved </span></p>
                  <p [ngClass]="{ 'like-difference': joke.likes > joke.dislikes, 'dislike-difference': joke.likes < joke.dislikes }"><b>{{ joke.likes - joke.dislikes }}</b></p>
              </div>
          <pre style="margin-top: 10px;">{{joke.joke}}</pre>
      </div>
  </div>
</div>